@charset "UTF-8";
/*Fichiers paramètres globaux*/
body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901C1C;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

/*Fichiers utils*/
/* Variables */
.animation-fadeIn {
  animation: fadeIn 2s ease-in-out forwards;
}

.animation-fadeOut {
  animation: fadeOut 1s ease-in-out forwards;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
  }
}
/*Fichiers de composents*/
/* Article */
.photograph-article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  min-width: 350px;
  transition: all 0.1s ease-in-out;
}
.photograph-article__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}
.photograph-article__title {
  color: #d3573c;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 5px;
  transition: all 0.5s ease-in-out;
}
.photograph-article__img {
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100px;
  border: 4px solid #ffffff;
  transition: all 0.5s ease-in-out;
}
.photograph-article__geographic {
  color: #901C1C;
  transition: all 0.5s ease-in-out;
}
.photograph-article__tagline {
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  transition: all 0.5s ease-in-out;
}
.photograph-article__price {
  color: #757575;
  font-weight: 400;
  font-size: 12px;
  transition: all 0.5s ease-in-out;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}
.photograph-article:hover {
  background-image: linear-gradient(to bottom, #ffffff, #fcfcfc, #f9f9f9, #f6f6f6, #f3f3f3);
  box-shadow: 5px 5px 100px 5px #cccccc;
  border-radius: 10px;
  transform: scale(1.05);
}
.photograph-article:hover .photograph-article {
  background-image: linear-gradient(to bottom, #ffffff, #fcfcfc, #f9f9f9, #f6f6f6, #f3f3f3);
  box-shadow: 5px 5px 100px 5px #cccccc;
  border-radius: 10px;
  transform: scale(1.05);
}
.photograph-article:hover .photograph-article__img {
  box-shadow: 5px 5px 15px 5px #cccccc;
  transform: scale(1.2) translateY(-20px);
}
.photograph-article:hover .photograph-article__title {
  transform: translateY(-20px) scale(1.1);
}
.photograph-article:hover .photograph-article__geographic {
  transform: translateY(-20px) scale(1.2);
}
.photograph-article:hover .photograph-article__tagline {
  transform: scale(1.3);
}
.photograph-article:hover .photograph-article__tagline:before {
  content: "”";
}
.photograph-article:hover .photograph-article__tagline:after {
  content: "“";
}
.photograph-article:hover .photograph-article__price {
  transform: translateY(30px) scale(1.3);
  border: 1px solid #cccccc;
}

.card-media {
  margin: 10px;
  background-color: #fff;
  border-radius: 5px;
  width: 350px;
  overflow: hidden;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.card-media:hover {
  border-radius: 10px;
}
.card-media:hover .card-media__header img,
.card-media :focus-visible .card-media__header img {
  transform: scale(1.05);
}
.card-media:hover .card-media__body__date,
.card-media :focus-visible .card-media__body__date {
  animation: fadeInLeft 1s ease-in-out forwards;
}
.card-media__header img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.5s ease-in-out;
  transform-origin: 50% 100%;
}
.card-media__header video {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.5s ease-in-out;
  transform-origin: 50% 100%;
}
.card-media__header video:hover,
.card-media__header video :focus-visible {
  transform: scale(1.05);
}

.card-media__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.card-media__body__date {
  position: absolute;
  top: -40px;
  left: 0px;
  background: white;
  border-radius: 0 5px 0 0;
  padding: 10px 10px 10px 0;
  font-size: 12px;
  transition: transform 0.5s ease-in-out;
  opacity: 0;
}
.card-media__body__legend {
  font-size: 20px;
  color: #901C1C;
}
.card-media__body__likes {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 20px;
  color: #901C1C;
}
.card-media__body__likes__icon {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  position: relative;
  cursor: pointer;
}
.card-media__body__likes__icon__animation {
  animation: heartbeat 1s ease-in-out forwards;
  transition: 0.2s;
}
.card-media__body__likes__icon__animation::after {
  content: "+1";
  background: #d3573c;
  color: white;
  padding: 5px;
  border-radius: 50px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 12px;
  animation: fadeInOut 2s ease-in-out forwards;
}

/* Button */
.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

/* Header */
.container-header {
  justify-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #fafafa;
  height: 300px;
  margin: 0 50px;
  width: 100%;
}

@media screen and (max-width: 780px) {
  .container-header {
    height: 450px;
    flex-direction: column;
    margin-bottom: 70px;
  }
}
/* Modal de formulaire */
#contact_modal {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

.modal {
  margin-top: 20%;
  border-radius: 5px;
  background-color: #fafafa;
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  position: relative;
  margin: auto;
}
.modal__header {
  justify-content: space-between;
  width: 100%;
  background-color: #db8876;
  padding: 10px;
  color: white;
  margin-bottom: 35px;
}
.modal__header__title {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}
.modal__picture {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 10px solid #fff;
  border-radius: 100px;
  margin-right: 20px;
}
.modal__close {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  right: -30px;
  top: -30px;
  background-color: #db8876;
  border-radius: 50px;
  padding: 10px;
}
.modal__close:hover {
  transform: scale(1.2);
}

.filter-zone {
  justify-self: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  height: 150px;
  margin: 0 100px;
}
.filter-zone__title {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 700;
}

/* Lightbox */
.lightbox {
  z-index: 9997;
  position: fixed;
  height: 100vh;
  width: 100%;
  display: none;
}
.lightbox__close {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 40px;
  color: #901C1C;
  z-index: 9999;
}
.lightbox__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: white;
  height: 100vh;
  width: 100%;
}
.lightbox__zone-left {
  width: 10%;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transition: transform 0.5s ease-in-out;
  transform-origin: 0% 50%;
  color: #901C1C;
  cursor: pointer;
  z-index: 9998;
}
.lightbox__zone-left:hover {
  background: rgba(0, 0, 0, 0.1);
  transform: scale(1.15);
}
.lightbox__zone-right {
  width: 10%;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transition: transform 0.5s ease-in-out;
  transform-origin: 100% 50%;
  color: #901C1C;
  cursor: pointer;
  z-index: 9998;
}
.lightbox__zone-right:hover {
  background: rgba(0, 0, 0, 0.1);
  transform: scale(1.15);
}
.lightbox__zone-image {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
}
.lightbox__zone-image__img {
  width: auto;
  max-height: 80vh;
}
.lightbox__zone-image__legend {
  color: #901C1C;
  font-size: 24px;
}
.lightbox__zone-video {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
}
.lightbox__zone-video__vid {
  width: auto;
  max-height: 50vh;
}
.lightbox__zone-video__legend {
  color: #901C1C;
  font-size: 24px;
}

.select-custom-select {
  position: relative;
  width: 300px;
  margin-right: 1rem;
  color: white;
}

.select-custom-select[open] {
  z-index: 1;
}

.select-radios {
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: #901C1C;
  list-style: none;
  color: white;
}

.select-radios::-webkit-details-marker {
  display: none;
}

.select-custom-select[open] .select-radios:before {
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
}

.select-radios:after {
  content: "";
  display: inline-block;
  float: right;
  width: 0.5rem;
  height: 0.5rem;
  border-bottom: 1px solid currentColor;
  border-left: 1px solid currentColor;
  border-bottom-left-radius: 2px;
  transform: rotate(45deg) translate(50%, 0%);
  transform-origin: center center;
  transition: transform ease-in-out 100ms;
}

.select-radios:focus {
  outline: none;
}

.select-custom-select[open] .select-radios:after {
  transform: rotate(-45deg) translate(0%, 0%);
}

.select-list-select {
  width: 100%;
  background: #901C1C;
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  padding: 1rem;
  margin: 0;
  box-sizing: border-box;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
}

.select-list-select li {
  margin: 0;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}

.select-list-select li:first-child {
  padding-top: 0;
}

.select-list-select li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.select-radios.radios {
  counter-reset: radios;
}

.select-radios.radios:before {
  content: var(--selection);
}

input[type=radio] {
  counter-increment: radios;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: none;
}

input[type=radio]:checked {
  display: inline;
  --display: block;
}

input[type=radio]:after {
  content: attr(title);
  display: inline;
  font-size: 1rem;
  color: white;
}

.select-list-select.list {
  counter-reset: labels;
}

.select-label {
  width: 100%;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  color: white;
}

.select-label span {
  --display: none;
  display: var(--display);
  width: 1rem;
  height: 1rem;
  border: 1px solid #727272;
  border-radius: 3px;
}

/* Form */
.container-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

.contact-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.contact-form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.contact-form__fieldset__legend {
  margin-top: 10px;
  margin-bottom: 10px;
}

.formData {
  width: 100%;
  display: block;
}
.formData__input {
  width: 100%;
  font-size: 20px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #db8876;
  margin: 0px 10px 20px 0px;
}
.formData__textarea {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  border: 1px solid #db8876;
}
.formData__label {
  font-size: 20px;
  padding: 0px;
  margin: 0;
}
.formData[data-error]::after {
  content: attr(data-error);
  font-size: 0.8em;
  color: #e54858;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: right;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}
.formData[data-error-visible=true]::after {
  opacity: 1;
}
.formData[data-error-visible=true] .text-control {
  border: 2px solid #e54858;
}

/*Fichiers de photographer*/
/* Photographer */
.photographer-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photograph-header {
  justify-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}

@media screen and (max-width: 780px) {
  .photograph-header {
    height: 500px;
  }
}
.photograph-header img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.photograph-header h2 {
  color: #d3573c;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 5px;
}

.photograph-header .geographic {
  color: #901C1C;
}

.photograph-header .tagline {
  color: #000000;
  font-weight: 400;
  font-size: 14px;
}

.container-media {
  margin: 0px 100px 100px 100px;
}

.photograph-media {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 350px);
  justify-content: space-between;
  grid-gap: 40px;
}

.container-price {
  position: fixed;
  bottom: 0px;
  right: 20px;
  border-radius: 5px;
  background-color: #db8876;
  width: 300px;
  height: 59px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 25px;
  font-size: 20px;
}
.container-price__like {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.container-price__like__text {
  display: flex;
  align-items: center;
}
.container-price__like__icon {
  padding-left: 10px;
  position: relative;
  display: flex;
  align-items: center;
}
.container-price__like__icon__animation {
  animation: heartbeat 1s ease-in-out forwards;
  transition: 0.2s;
}
.container-price__like__icon__animation__::after {
  content: "+1";
  background: #db8876;
  padding: 5px;
  border-radius: 50px;
  position: absolute;
  bottom: 20px;
  right: -20px;
  font-size: 12px;
  animation: fadeInOut 2s ease-in-out forwards;
}
.container-price__price {
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.text-control {
  margin: 0;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  height: 48px;
}

input[data-error]::after {
  content: attr(data-error);
  font-size: 0.6em;
  color: red;
}/*# sourceMappingURL=main.css.map */