.animation-fadeIn {
  animation: fadeIn 2s ease-in-out forwards;
}

.animation-fadeOut {
  animation: fadeOut 1s ease-in-out forwards;
}

@keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes fadeInOut {
    0%   { opacity: 0; }
    50% { opacity: 1; }
    100%   { opacity: 0; }
  }


  @keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes fadeOut {
    0%   { opacity: 1; }
    100% { opacity: 0; }
  }

  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-40px);
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideInLeft {
    from {
  
    }
    to {
      transform: translateX(20px);
    }
  }