/* Article */

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:20px;
    min-width:350px;
    transition: all 0.10s ease-in-out;
}

.photographer_section article a{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    text-decoration:none;
}


.photographer_section article:hover {
    background-image: linear-gradient(to bottom, #ffffff, #fcfcfc, #f9f9f9, #f6f6f6, #f3f3f3);
    box-shadow:5px 5px 100px 5px #CCCCCC;
    border-radius: 10px;
    transform: scale(1.05);
    }

.photographer_section article:hover img {
box-shadow:5px 5px 15px 5px #CCCCCC;
transform: scale(1.20) translateY(-20px);
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    font-weight:400;
    margin-bottom:5px;
    transition: all 0.5s ease-in-out;
 
}

.photographer_section article:hover h2 {
   transform: translateY(-20px) scale(1.10);
    }
    

.photographer_section article img {
    height: auto;
    width: 200px;
    border-radius: 100px;
    border:4px solid #ffffff;
    transition: all 0.5s ease-in-out;
}

.photographer_section article .geographic{
    color:#901C1C;
    transition: all 0.5s ease-in-out;
    
}
.photographer_section article:hover .geographic{
transform: translateY(-20px) scale(1.20);

}

.photographer_section article .tagline{
    color:#000000;
    font-weight:400;
    font-size:10px;
    transition: all 0.5s ease-in-out;

}

.photographer_section article:hover .tagline{
    transform:  scale(1.70);

}

.photographer_section article:hover .tagline:before{
content:"\00201D";
}
.photographer_section article:hover .tagline:after{
    content:"\00201C";
    }


.photographer_section article .price{
    color:#757575;
    font-weight:400;
    font-size:9px;
    transition: all 0.5s ease-in-out;
    border:1px solid transparent;
    border-radius:10px;
    padding:10px;
    background-color:white;
}

.photographer_section article:hover .price{
    transform: translateY(30px) scale(1.30);
    border:1px solid #cccccc;
}
