/* Form */

.container-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}
.contact-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;

    &__fieldset {
        border: none;
        padding: 0;
        margin: 0;
        width: 100%;

        &__legend {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}

.formData {
    width: 100%;
    display: block;

    &__input {
        width: 100%;
        font-size: 20px;
        height: 50px;
        border-radius: 5px;
        border: 1px solid $color1;
        margin: 0px 10px 20px 0px;
    }

    &__textarea {
        width: 100%;
        height: 68px;
        border: none;
        border-radius: 5px;
        border: 1px solid $color1;
    }

    &__label {
        font-size: 20px;
        padding: 0px;
        margin: 0;
    }

    &[data-error]::after {
        content: attr(data-error);
        font-size: 0.8em;
        color: #e54858;
        display: block;
        margin-top: 7px;
        margin-bottom: 7px;
        text-align: right;
        line-height: 0.3;
        opacity: 0;
        transition: 0.3s;
    }
    &[data-error-visible="true"]::after {
        opacity: 1;
    }
    &[data-error-visible="true"] .text-control {
        border: 2px solid #e54858;
    }
}

