/* Modal de formulaire */

#contact_modal {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

.modal {
    margin-top: 20%;
    border-radius: 5px;
    background-color: #fafafa;
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    position: relative;
    margin: auto;
    &__header {
        justify-content: space-between;
        width: 100%;
        background-color: #db8876;
        padding: 10px;
        color: white;
        margin-bottom: 35px;
        &__title {
            font-size: 24px;
            font-weight: normal;
            text-align: center;
        }
    }
    &__picture {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border: 10px solid #fff;
        border-radius: 100px;
        margin-right: 20px;
    }

    &__close {
        cursor: pointer;
        width: 30px;
        height: 30px;
        position: absolute;
        right: -30px;
        top: -30px;
        background-color: #db8876;
        border-radius: 50px;
        padding: 10px;
        &:hover{
            transform:scale(1.2);
        }
    }
}
