

// Select Made different

.accessibility-filter {
  position: relative;
  width: 300px;
  margin-right: 1rem;
  color: white;
  z-index: 9996;
&__button{
  width: 100%;
  background: $color2;
  box-sizing: border-box;
  border-radius: 5px;
  color:white;
  padding: 1rem;
  font-size: 15px;
  text-align:left;
  &:after {
    content: "";
    display: inline-block;
    float: right;
    width: 0.5rem;
    height: 0.5rem;
    border-bottom: 1px solid currentColor;
    border-left: 1px solid currentColor;
    border-bottom-left-radius: 2px;
    transform: rotate(45deg) translate(50%, 0%);
    transform-origin: center center;
    transition: transform ease-in-out 100ms;
  }

}


  &__choice-zone {
    width: 100%;
    background: $color2;
    position: absolute;
    top: calc(100% + 0.5rem);
    left: 0;
    padding: 0 1rem;
    margin: 0;
    box-sizing: border-box;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
    list-style: none;
    &__form {
      &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        &__option {
          margin: 0;

          border-bottom: 1px solid #ccc;
          &:last-child {
            border-bottom: 0;
          }
          &__label {
            display: flex;
            font-size: 15px;
            padding: 0px 0px 20px 0px;
          }
          &__input {
            opacity: 0;
            width: 0;
            height: 0;
            padding: 0;
            margin: 0;
            &:checked + label {
              animation: slideInLeft 1s forwards;
            
              &:before {
                font-family: FontAwesome;
                content: "\f00c";
                display: inline-block;
                padding-right: 10px;
                vertical-align: middle;
                font-weight: 900;
                animation: fadeInLeft 2s;
             }
            }
            &:checked > li {
              background-color: $color1;
            }
          }
        }
      }
    }
  }
}
.button-open::after{
  transform: rotate(315deg) translate(30%, 30%);

}