/* Photographer */

.photographer-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photograph-header {
    justify-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #fafafa;
    height: 300px;
    margin: 0 100px;
}

@media screen AND (max-width: 780px){
    .photograph-header {
  
        height: 500px;

    }
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    object-fit:cover;
}

.photograph-header h2 {
    color: #d3573c;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 5px;
}

.photograph-header .geographic {
    color: $color2;
}

.photograph-header .tagline {
    color: #000000;
    font-weight: 400;
    font-size: 14px;
}
.container-media {
    margin: 0px 100px 100px 100px;
}
.photograph-media {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: space-between;
    grid-gap: 40px;
}

.container-price {
    position: fixed;
    bottom: 0px;
    right: 20px;
    border-radius: 5px;
    background-color: $color1;
    width: 300px;
    height: 59px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 25px;
    font-size: $font-size-legend;

    &__like {
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;

        &__text {
            display: flex;
            align-items: center;
        }

        &__icon {
            padding-left: 10px;
            position: relative;
            display: flex;
            align-items: center;

            &__animation {
                animation: heartbeat 1s ease-in-out forwards;
                transition: 0.2s;

                &::after {
                    content: "+1";
                    background: $color1;
                    padding: 5px;
                    border-radius: 50px;
                    position: absolute;
                    bottom: 20px;
                    right: -20px;
                    font-size: 12px;
                
                    animation: fadeInOut 2s ease-in-out forwards;
                }
            }
        }
    }

    &__price {
        padding-left: 10px;
        display: flex;
        align-items: center;
    }
}






.text-control {
	margin: 0;
	width: 100%;
	border-radius: 8px;
	font-size: 20px;
	height: 48px;
}


input[data-error]::after {
	content: attr(data-error);
	font-size: 0.6em;
	color: red;
}
