/* Photographer */

$font-size-legend:20px;
$font-size-icon:12px;

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photograph-header {
    justify-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #fafafa;
    height: 300px;
    margin: 0 100px;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.photograph-header h2 {
    color: #d3573c;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 5px;
}

.photograph-header .geographic {
    color: #901c1c;
}

.photograph-header .tagline {
    color: #000000;
    font-weight: 400;
    font-size: 10px;
}
.container-media {
    margin: 0 100px;
}
.photograph-media {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom:50px;
}

.container-price {
    position: fixed;
    bottom: 0px;
    right: 20px;
    border-radius: 5px;
    background-color: #db8876;
    width: 300px;
    height: 59px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 25px;
    font-size: $font-size-legend;
}

.container-price__like {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.container-price__like__text {
    display: flex;
    align-items: center;
}

.container-price__like__icon {
    padding-left: 10px;
    position:relative;
    display: flex;
    align-items: center;
}

.container-price__like__icon__animation {
    animation: heartbeat 1s ease-in-out forwards;
    transition: .2s;
}

.container-price__like__icon__animation::after {
    content:"+1";
    background:#db8876;
    padding:5px;
    border-radius:50px;
    position:absolute;
    bottom:20px;
    right:-20px;
    font-size:12px;

    animation: fadeInOut 2s ease-in-out forwards;

}


.container-price__price {
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.card-media {
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
    width: 350px;
    overflow:hidden;
}

.card-media__header img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
    transform-origin: 50% 100%;
}

.card-media__header img:hover, .card-media__header img:focus-visible {
 
 
    transform: scale(1.05);
}

.card-media__header video {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
    transform-origin: 50% 100%;
}

.card-media__header video:hover, .card-media__header video:focus-visible {
 
 
    transform: scale(1.05);
}

.card-media__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    &__legend{
        font-size: $font-size-legend;
        color: #901c1c;
    }
    &__likes {
        display: flex;
        justify-content: flex-end;
        align-items:center;
        font-size: $font-size-legend;
        color: #901c1c;
        
        &__icon {
            padding-left: 10px;
            padding-right : 10px;
            font-size: $font-size-legend;
            position:relative;
            cursor:pointer;

            &__animation {
                animation: heartbeat 1s ease-in-out forwards;
                transition: .2s;

                &::after {
                    content:"+1";
                    background:#d3573c;
                    color:white;
                    padding:5px;
                    border-radius:50px;
                    position:absolute;
                    bottom:20px;
                    right:20px;
                    font-size:$font-size-icon;
                
                    animation: fadeInOut 2s ease-in-out forwards;
                
                }
            }
        }
}
}



.lightbox-img{

 

}

.animation-fadeIn{
    animation: fadeIn 2s ease-in-out forwards
}

.animation-fadeOut{
    animation: fadeOut 1s ease-in-out forwards;
}

@keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes fadeInOut {
    0%   { opacity: 0; }
    50% { opacity: 1; }
    100%   { opacity: 0; }
  }


  @keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes fadeOut {
    0%   { opacity: 1; }
    100% { opacity: 0; }
  }


