/* Photographer */

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photograph-header {
    justify-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #fafafa;
    height: 300px;
    margin: 0 100px;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.photograph-header h2 {
    color: #d3573c;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 5px;
}

.photograph-header .geographic {
    color: #901c1c;
}

.photograph-header .tagline {
    color: #000000;
    font-weight: 400;
    font-size: 10px;
}
.container-media{
    margin:0 100px;
}
.photograph-media {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;

}

.container-price {
    position: fixed;
    bottom: 0px;
    right :20px;
    border-radius:5px;
    background-color:#DB8876;
    width:300px;
    height:59px;
    display:flex;
    align-items:center;
    flex-direction: row;
    justify-content:space-between;
    padding:0 25px;
    font-size: 24px;
}

.container-price__like {
height:100%;
display:flex;
align-items:center;
flex-direction: row;
}

.container-price__like__text {
    display:flex;
align-items:center;
}

.container-price__like__icon {
    padding-left: 10px;
    display:flex;
    align-items:center;
}

.container-price__price{
    padding-left: 10px;
    display:flex;
align-items:center;
}

.card-media {
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    width: 350px;
}

.card-media__header img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-media__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-media__body__legend {
    font-size: 24px;
    color: #901c1c;
}

.card-media__body__likes {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    color: #901c1c;
}

.card-media__body__likes__icon {
    padding-left: 10px;
    font-size:20px;
    display:flex;
    align-items:center;
    vertical-align: center;
}

.lightbox{
position:absolute;
height:100vh;
width:100%;
display:none;
}
.container-lightbox{

    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: row;
    background-color:white;
    height:100vh;
    width:100%;

    }
.lightbox-zone-image{
    width:60%;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: row;
}
.lightbox-zone-left{
    width:20%;
    font-size:40px;
    display:flex;
    align-items:center;
    justify-content: center;
}
.lightbox-zone-right{
    width:20%;
    font-size:40px;
    display:flex;
    align-items:center;
    justify-content: center;

}
.lightbox-img{
    width:90%;
    height:auto;
}

.lightbox-close{
    position: absolute;
    top:30px;
    right:30px;
    font-size:40px;
}
